@use "./base.scss";

// put your custom CSS here!
.callout {
    &[data-callout="simple"] {
        --color: var(--dark); // Color del título e icono
        --border: var(--gray); // Color del borde
        --bg: var(--light); // Color de fondo (se invierte solo)
        --callout-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='m12 5 7 7-7 7'/%3E%3C/svg%3E");
        // Si quieres que el texto interior también herede el color principal:
        color: var(--dark);
    }
}